
<div>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark container-fluid">
    <h1 class="headingForNav ">PanFree</h1>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="logout">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="profile">Profile Fields</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="pantry">Dashboard</a>
      </li>
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" routerLink="publicProfile">Public Profile</a>-->
      <!--</li>-->
      <li class="nav-item">
        <a class="nav-link" routerLink="profileList">Profile List</a>
      </li>
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" routerLink="blog">Blog</a>-->
      <!--</li>-->

      <div [ngSwitch]="type">
          <li class="nav-item" *ngSwitchCase="'Admin'">
            <a class="nav-link" routerLink="admin-mgmt">Admin Page</a>
          </li>
      </div>
      <li class="nav-item">
        <a class="nav-link" routerLink="blog-list">Blog List</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
