<div class="container-fluid">

  <div class="row profilePageContent">
    <div class="col-4">
      <img src="{{this.person.imageURL}}">
      <button (click)="follow()" class="profileBtn btn btn-dark btn-block">Follow</button>
      <button (click)="unfollow()" class="profileBtn btn btn-danger btn-block">Unfollow</button>
    </div>
    <div class="col-8">

      <h1 class="titleProfile">{{this.person.firstName}} {{this.person.lastName}}</h1>
      {{this.person.bio}}
    </div>
  </div>


</div>
