.headingForNav {
  color: white;
}

.profileBtn {
  size: 300px;
}

.profilePageContent {
  padding-top: 5%;
  padding-left: 3%;
  padding-right: 3%;
}

.centerThis {
  text-align: center;
}

.welcome{
  font-weight: bold;
  color: #71dd8a;
  font-size: 64px;
}

.login {
  padding-top: 3%;
}

.titleProfile{
  padding-bottom: 3%;
}


