<div class="row container-fluid">
  <div class="profilePageContent col-10">
    <ul class="listClass list-group">

      <!--<input [(ngModel)]="searchName" class="form-control container-fluid" placeholder="Search by username"/>-->
      <!--<button class="btn btn-dark mb-2" (click)="fetchByLogin(searchName)">Search</button>-->

      <li class="row list-group-item"  *ngFor="let blog of blogList" >
        <div  (click)="sendToBlog(this.blog.id)">
          <img src="{{this.blog.imageURL}}"/>{{this.blog.title}}
        </div>
      </li>
    </ul>

  </div>
  <div class="col-2">
    <img src="https://picsum.photos/300/800">
  </div>
</div>
