<div class="profilePageContent container">
  <div class="row">
    <div class="col-1">
      <!--Maybe place an add type bar here-->
    </div>
    <div class="col-10">
      <h1 class="welcome centerThis">Have any info to update?</h1>

      <div class="login">
        <div class="row">
          <div class="col-2">
            <label>Username: </label>
          </div>
          <div class="col-10">
            <input
              class="form-control container-fluid"
              placeholder="username"
              [(ngModel)]="username"/>

          </div>
        </div>

        <div class="row">
          <div class="col-2">
            <label>Password: </label>
          </div>
          <div class="col-10">
            <input
              class="form-control container-fluid"
              placeholder="password"
              type="password"
              [(ngModel)]="password"/>
          </div>
        </div>

        <div class="row">
          <div class="col-2">
            <label>First Name: </label>
          </div>
          <div class="col-10">
            <input
              class="form-control container-fluid"
              placeholder="First Name"
              [(ngModel)]="firstName"/>


          </div>
        </div>

        <div class="row">
          <div class="col-2">
            <label>Last Name: </label>
          </div>
          <div class="col-10">
            <input
              class="form-control container-fluid"
              placeholder="Last Name"
              [(ngModel)]="lastName"/>

          </div>
        </div>

        <div class="row">
          <div class="col-2">
            <label>Email: </label>
          </div>
          <div class="col-10">
            <input
              class="form-control container-fluid"
              placeholder="Email"
              [(ngModel)]="email"/>
          </div>
        </div>

        <div [ngSwitch]="type">
          <div *ngSwitchCase="'CompanyRep'">
            <div class="row">
              <div class="col-2">
                <label>Company Name: </label>
              </div>
              <div class="col-10">
                <input
                  class="form-control container-fluid"
                  placeholder="What's the name of your company?"
                  [(ngModel)]="companyName"/>
              </div>
            </div>
          </div>

          <div *ngSwitchCase="'Chef'">
            <div class="row">
              <div class="col-2">
                <label>Specialties: </label>
              </div>
              <div class="col-10">
                <input
                  class="form-control container-fluid"
                  placeholder="What are some of your culinary specialties?"
                  [(ngModel)]="specialty"/>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-2">
              <label>Profile Image URL: </label>
            </div>
            <div class="col-10">
              <input
                class="form-control container-fluid"
                placeholder="Let's see that beautiful mug of yours. "
                [(ngModel)]="imageURL"/>

            </div>
          </div>

          <div class="row">
            <div class="col-2">
              <label>Bio: </label>
            </div>
            <div class="col-10">
              <textarea
                class="form-control container-fluid"
                placeholder="Let's here a little about you! Write about your cooking experiences, and the flavors enjoy experimenting with!"
                [(ngModel)]="bio"></textarea>

            </div>
          </div>

        </div>


        <div class="row">
          <div class="col-2">

          </div>
          <div class="col-10">
            <button (click)="updateUser()"
                    class="updateButton btn btn-dark btn-block">
              Update
            </button>

            <div [ngSwitch]="type">
              <div *ngSwitchCase="'Chef'">
                <button (click)="navigateToPantry()"
                        class="pantryButton btn btn-secondary btn-block">
                  Let's blog about your current work!
                </button>
              </div>
              <div *ngSwitchCase="'CompanyRep'">
                <button (click)="navigateToPantry()"
                        class="pantryButton btn btn-secondary btn-block">
                  Let's make some ads!
                </button>
              </div>
              <div *ngSwitchCase="'Admin'">
                <button (click)="navigateToAdmin()"
                        class="pantryButton btn btn-secondary btn-block">
                  Let's get to work!
                </button>
              </div>
              <div *ngSwitchDefault>
                <button (click)="navigateToPantry()"
                        class="pantryButton btn btn-secondary btn-block">
                  Let's go to our pantry!
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-1">
      <!--Maybe place an add type bar here-->
    </div>
  </div>
</div>

