
<div class="homePageContent container">
  <div class="row">
    <div class="col-1">
      <!--Maybe place an add type bar here-->
    </div>
    <div class="col-10">
      <h1 class="welcome centerThis">Welcome to PanFree!</h1>
      <p class="centerThis ">Welcome to PanFree, a free web app meant to help you get the most out of your pantry.  PanFree searches for recipes
        based on what you already have, so you can eat well without having to break the bank. To use,
        simply register, build and manage your pantry, and see what culinary magic is hiding right in front of you!
       </p>

      <div class="search">
        <input [(ngModel)]="ingredients"
          class="form-control container-fluid"
          placeholder="Enter recipes here, separated by a comma and a space"
        />
        <button (click)="findRecipeByIngredients(ingredients)"
          class="btn btn-dark btn-block">
          Search for recipes by ingredients!
        </button>

        <ul class="list-group recipeGroup">
          <li class="list-group-item" *ngFor="let recipe of recipeList" (click)= navigateToRecipe(recipe.id)>
            <a><img src="{{recipe.image}}"/>   {{recipe.title}}</a>
          </li>
        </ul>
      </div>

    </div>
    <div class="col-1">
      <!--Maybe place an add type bar here-->
    </div>
  </div>
</div>

