<div class="homePageContent container">


  <div [ngSwitch]="personType">
    <!--CHEF CASE-->
    <div *ngSwitchCase="'CompanyRep'">
      <div class="homePageContent container">
        <div class="row">
          <div class="col-1">
            <!--Maybe place an add type bar here-->
          </div>
          <div class="col-10">
            <h1 class="welcome centerThis">A huge thank you to Y-O-U!</h1>
            <p class="centerThis ">Thank for being an advertiser that fills our site with great content
              and keeps us up and running! Let's work on an add that make your company pop below.
            </p>

            <div class="row">
              <div class="col-2">
                <label>Ad Title: </label>
              </div>
              <div class="col-10">
                <input
                  class="form-control container-fluid"
                  placeholder="Title"
                  [(ngModel)]="adTitle"/>
              </div>
            </div>

            <div class="row">
              <div class="col-2">
                <label>Image URL: </label>
              </div>
              <div class="col-10">
                <input
                  class="form-control container-fluid"
                  placeholder="Picture URL"
                  [(ngModel)]="adUrl"/>
              </div>
            </div>

            <div class="row">
              <div class="col-2">
                <label></label>
              </div>
              <div class="col-10">
                <button (click)="submitAd()"
                        class="pantryButton btn btn-dark btn-block">
                  Submit your ad here!
                </button>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6">
                <h1 class="welcome2 centerThis">Check out your ads below!</h1>
                <!--We'll put a running list of some of their posts here. -->
                <!--Should we do something where they can update or for sake of
                time just have a delete button below.-->
              </div>
              <div class="col-lg-6">
                <h1 class="welcome2 centerThis">Here's some content that you've liked!</h1>
                <!--Liked content goes here-->
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>


    <!--COMPANY REP CASE-->
    <div *ngSwitchCase="'Chef'">
      <div class="homePageContent container">
        <div class="row">
          <div class="col-1">
            <!--Maybe place an add type bar here-->
          </div>
          <div class="col-10">
            <h1 class="welcome centerThis">Hey Chef, let's talk about you!</h1>
            <p class="centerThis ">You've been grinding out there and taking the world of the culinary arts
              to a new level, and now it's time to tell the world! Let your fans know about the techniques,
              your favorite ingredients, or what inspires you to create master pieces of taste.
            </p>

            <div class="row">
              <div class="col-2">
                <label>Blog Post Title: </label>
              </div>
              <div class="col-10">
                <input
                  class="form-control container-fluid"
                  placeholder="Place a snazzy title for your post here."
                  [(ngModel)]="blogTitle"/>
              </div>
            </div>

            <div class="row">
              <div class="col-2">
                <label>Image URL: </label>
              </div>
              <div class="col-10">
                <input
                  class="form-control container-fluid"
                  placeholder="Picture URL"
                  [(ngModel)]="pictureUrl"/>
              </div>
            </div>

            <div class="row">
              <div class="col-2">
                <label>Blog Post: </label>
              </div>
              <div class="col-10">
              <textarea
                class="form-control container-fluid"
                placeholder="Write your blog here!"
                [(ngModel)]="textForPost"></textarea>
              </div>
            </div>

            <div class="row">
              <div class="col-2">
                <label></label>
              </div>
              <div class="col-10">
                <button (click)="submitPost()"
                        class="pantryButton btn btn-dark btn-block">
                  Submit your blog post!
                </button>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6">
              <h1 class="welcome2 centerThis">Check out your posts below!</h1>
              <!--We'll put a running list of some of their posts here. -->
              <!--Should we do something where they can update or for sake of
              time just have a delete button below.-->
            </div>
              <div class="col-lg-6">
                <h1 class="welcome2 centerThis">Here's some content that you've liked!</h1>
                <!--Liked content goes here-->
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>


      <!--DEFAULT CASE-->
      <div *ngSwitchDefault class="row">

        <div class="col-7">
          <h1 class="welcome centerThis"> What's in your pantry:</h1>

          <ul class="list-group">
            <li class="list-group-item">Dapibus ac facilisis in
              <i class="fa fa-trash-alt float-right"></i>
            </li>
            <li class="list-group-item">Dapibus ac facilisis in
              <i class="fa fa-trash-alt float-right"></i>
            </li>
            <li class="list-group-item">Dapibus ac facilisis in
              <i class="fa fa-trash-alt float-right"></i>
            </li>
            <li class="list-group-item">Dapibus ac facilisis in
              <i class="fa fa-trash-alt float-right"></i>
            </li>
            <li class="list-group-item">Dapibus ac facilisis in
              <i class="fa fa-trash-alt float-right"></i>
            </li>
            <li class="list-group-item">Dapibus ac facilisis in
              <i class="fa fa-trash-alt float-right"></i>
            </li>
            <li class="list-group-item">Dapibus ac facilisis in
              <i class="fa fa-trash-alt float-right"></i>
            </li>
          </ul>

          <div class="add">
            <input
              class="form-control container-fluid"
              placeholder="Add another ingredient here."
            />
            <button
              class="btn btn-dark btn-block">
              <i class="fa fa-plus"></i>
            </button>
          </div>


        </div>
        <div class="col-5">
          <!--Maybe place an add type bar here-->
          <h1 class="welcome centerThis">Grocery List:</h1>

          <ul class="list-group">
            <li class="list-group-item">Dapibus ac facilisis in
              <i class="fa fa-trash-alt float-right"></i>
            </li>
            <li class="list-group-item">Dapibus ac facilisis in
              <i class="fa fa-trash-alt float-right"></i>
            </li>
            <li class="list-group-item">Dapibus ac facilisis in
              <i class="fa fa-trash-alt float-right"></i>
            </li>
            <li class="list-group-item">Dapibus ac facilisis in
              <i class="fa fa-trash-alt float-right"></i>
            </li>
            <li class="list-group-item">Dapibus ac facilisis in
              <i class="fa fa-trash-alt float-right"></i>
            </li>
            <li class="list-group-item">Dapibus ac facilisis in
              <i class="fa fa-trash-alt float-right"></i>
            </li>
            <li class="list-group-item">Dapibus ac facilisis in
              <i class="fa fa-trash-alt float-right"></i>
            </li>
          </ul>

          <div class="add">
            <input
              class="form-control container-fluid"
              placeholder="Add a grocery item to your list here."
            />
            <button
              class="btn btn-dark btn-block">
              <i class="fa fa-plus"></i>
            </button>
          </div>


          <h1 class="welcome2 centerThis">What's for dinner?</h1>
          <p class="centerThis ">Simply click here and find out! We'll pull info from your pantry and find the
            perfect recipe for you at random. Enjoy and happy cooking. </p>

          <div class="search">
            <input
              class="form-control container-fluid"
              placeholder="Recipes by ingredients."
            />
            <button
              class="btn btn-dark btn-block">
              Search for recipes!
            </button>
          </div>
        </div>


      </div>
