<div class="registerPageContent container">
  <div class="row">
    <div class="col-1">
      <!--Maybe place an add type bar here-->
    </div>
    <div class="col-10">
      <h1 class="welcome centerThis">Welcome to Panfree, taste the possibilities!</h1>

      <div class="register">
        <input [(ngModel)]="username"
               class="form-control container-fluid"
               placeholder="Username"
        />
        <input [(ngModel)]="password"
               class="form-control container-fluid"
               placeholder="Password"
               type="password"
        />
        <input [(ngModel)]="confirmPassword"
               class="form-control container-fluid"
               placeholder="Confirm Password"
               type="password"
        />
        <button
          class="btn btn-dark btn-block"
          (click)="register(username, password, confirmPassword)">
          Register
        </button>
      </div>
    </div>
    <div class="col-1">
      <!--Maybe place an add type bar here-->
    </div>
  </div>
</div>

