<div class="registerPageContent container">
  <div class="row">
    <div class="col-1">
      <!--Maybe place an add type bar here-->
    </div>
    <div class="col-10">
      <h1 class="welcome centerThis">Welcome to Panfree, taste the possibilities!</h1>

      <div class="register">
        <input [(ngModel)]="username"
               class="form-control container-fluid"
               placeholder="Username"
               required/>
        <input [(ngModel)]="password"
               class="form-control container-fluid"
               placeholder="Password"
               type="password"
               required="true"/>
        <input [(ngModel)]="confirmPassword"
               class="form-control container-fluid"
               placeholder="Confirm Password"
               type="password"
               required/>
        <div class="form-group">
          <select [(ngModel)]="typeOfUser" class="form-control" id="type">
            <option value="User" selected>User</option>
            <option value="Chef">Chef</option>
            <option value="Admin<">Admin</option>
            <option value="Company Representative<">Company Representative</option>
          </select>
        </div>
        <button
          class="btn btn-dark btn-block"
          (click)="register(username, password, confirmPassword)"
          ng-required="register, password, confirmPassword, typeOfUser"
        >
          Register
        </button>
      </div>
    </div>
    <div class="col-1">
      <!--Maybe place an add type bar here-->
    </div>
  </div>
</div>

